.dropdown2{
    display: inline-block;
}

.checkboxes{
    display: inline-block;
}

.h4_centered{
    text-align: center;
}

.tomato_box{
    border-style: dotted;
    border-width: thin;
    padding: 5px;
}

.task_input{

}
